.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #020202;
}

.fieldset-label {
  position: relative;
  right: .5rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #000;
}

#card-element {
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the input */
  font-size: 16px; /* Font size */
  color: #000; /* Black text */
}

#card-errors {
  color: #e5424d; /* Red text for errors */
  font-size: 14px;
  margin-top: 5px;
}