{% extends 'base.html' %}
{% load static %}

{% block corecss %}

<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block title %}404 - Page Not Found{% endblock title %}

{% block content %}
<div class="overlay"></div>
<div class="container error-container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="error-code">404</div>
            <p class="error-message">Oops! The page you’re looking for doesn’t exist.</p>
            <a href="{% url 'home' %}" class="btn btn-home">Go Back to Home</a>
        </div>
        <div class="col-12 text-center">
            {% if request.user.is_authenticated %}
            <p class="text-black text-center"> You may need to <a href="{% url 'account_login' %}">Login</a>. 
                If you don't have an account, you can <a href="{% url 'account_signup' %}">Register</a>.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
