{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if book.image_url %}
                                <a href="{{ book.image_url }}" target="_blank">
                                    <img class="card-img-top img-fluid" src="{{ book.image_url }}" alt="{{ book.title }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title}}">
                                </a>
                                {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ book.title }}</p>
                    {% if book.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'books' %}?category={{ book.category.name}}">
                                <i class="fa-solid fa-quote-left mr-1"> {{ book.category.friendly_name }}</i>
                                <i class="fa-solid fa-quote-right"></i>                            
                            </a>
                        </p>
                    {% endif%}
                    <p class="text-muted small mb-0">by {{ book.author }} ({{ book.realised_date }})</p>
                    <br>
                    <p class="mt-3">{{ book.description }}</p>
                    <br>
                    <form class="form" action="{% url 'add_to_bag' book.isbn %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ book.isbn }}" id="decrement-qty_{{ book.isbn}}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" 
                                            name="quantity" value="1" min="1" max="99" 
                                            data-item_id="{{ book.isbn }}" id="id_qty_{{ book.isbn }}">
                                        <div class="input-group-apppend">    
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ book.isbn }}" id="increment-qty_{{ book.isbn }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% if book.price_softcover %}
                                        <label class="btn btn-primary">
                                            <input type="radio" name="format" id="softcover" autocomplete="off" value="softcover"> Softcover - £{{ book.price_softcover }}
                                        </label>
                                    {% endif %}
                                    {% if book.price_hardcover %}
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="format" id="hardcover" autocomplete="off" value="hardcover"> Hardcover - £{{ book.price_hardcover }}
                                        </label>
                                    {% endif %}
                                    {% if book.price_audiobook %}
                                        <label class="btn btn-success">
                                            <input type="radio" name="format" id="audiobook" autocomplete="off" value="audiobook"> Audiobook - £{{ book.price_audiobook }}
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'books' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>   
        </div>
    </div>

    
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/quantity_input_script.html' %}

<script type="text/javascript">
    function selectFormat(format, price) {
        // Handle the format selection logic here
        console.log(`Selected format: ${format}, Price: £${price}`);
        // You can add more logic to handle the selection, such as updating a hidden form field or redirecting to a checkout page
    }
</script>
{% endblock %}

