{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if book.image_url %}
                                <a href="{{ book.image_url }}" target="_blank">
                                    <img class="card-img-top img-fluid" src="{{ book.image_url }}" alt="{{ book.title }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title}}">
                                </a>
                                {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ book.title }}</p>
                    {% if book.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'books' %}?category={{ book.category.name}}">
                                <i class="fa-solid fa-quote-left mr-1"> {{ book.category.friendly_name }}</i>
                                <i class="fa-solid fa-quote-right"></i>                            
                            </a>
                        </p>
                    {% endif%}
                    <p class="text-muted small mb-0">by {{ book.author }} ({{ book.realised_date }})</p>
                    <br>
                    <p class="mt-3">{{ book.description }}</p>
                    <br>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        {% if book.price_softcover %}
                            <label class="btn btn-primary">
                                <input type="radio" name="format" id="softcover" autocomplete="off" onclick="selectFormat('softcover', {{ book.price_softcover }})"> Softcover - £{{ book.price_softcover }}
                            </label>
                        {% endif %}
                        {% if book.price_hardcover %}
                            <label class="btn btn-secondary">
                                <input type="radio" name="format" id="hardcover" autocomplete="off" onclick="selectFormat('hardcover', {{ book.price_hardcover }})"> Hardcover - £{{ book.price_hardcover }}
                            </label>
                        {% endif %}
                        {% if book.price_audiobook %}
                            <label class="btn btn-success">
                                <input type="radio" name="format" id="audiobook" autocomplete="off" onclick="selectFormat('audiobook', {{ book.price_audiobook }})"> Audiobook - £{{ book.price_audiobook }}
                            </label>
                        {% endif %}
                    </div>
                </div>
            </div>   
        </div>
    </div>

    
{% endblock %}
{% block postloadjs %}
    <script type="text/javascript">
        function selectFormat(format, price) {
            // Handle the format selection logic here
            console.log(`Selected format: ${format}, Price: £${price}`);
            // You can add more logic to handle the selection, such as updating a hidden form field or redirecting to a checkout page
        }
    </script>
{% endblock %}
